<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="{{baseUrl}}/css/wodin.css"/>
    </head>
    <body>
        <div id="app">
            <app-header
                :app-title="'{{appTitle}}'"
                :course-title="'{{courseTitle}}'"
                :wodin-version="'{{wodinVersion}}'">
             </app-header>
             <wodin-session :app-name="'{{appName}}'"
                            :base-url="'{{baseUrl}}'"
                            :apps-path="'{{appsPath}}'"
                            :enableI18n="{{enableI18n}}"
                            :default-language="'{{defaultLanguage}}'"
                            :load-session-id="'{{loadSessionId}}'"
                            :share-not-found="'{{shareNotFound}}'"></wodin-session>
        </div>
        <script>
          var appType = "{{appType}}";
        </script>
        <script src="{{baseUrl}}/js/wodin.umd.min.js"></script>
        <script async src="{{mathjaxSrc}}"></script>
    </body>
</html>
