<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="{{baseUrl}}/css/basicApp.css"
    </head>
    <body>
        <div id="app">
            <app-header
                :app-title="'{{appTitle}}'"
                :course-title="'{{courseTitle}}'"
                :wodin-version="'{{wodinVersion}}'">
             </app-header>
             <wodin-session :app-name="'{{appName}}'"
                            :base-url="'{{baseUrl}}'",
                            :load-session-id="'{{loadSessionId}}'"
                            :share-not-found="'{{shareNotFound}}'"></wodin-session>
        </div>
        <script src="{{baseUrl}}/js/basicApp.umd.min.js"></script>
    </body>
</html>
